body {
	overflow-y: scroll;
	overflow-x: hidden;
}

:root,
html,
body {
	background-color: #f5f5f5;
	box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
body,
i,
img,
small,
label,
li,
ul,
p,
nav,
span {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: Arial, sans-serif;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.about-text {
  color: black;
	margin-left: 50%;
	margin-bottom: 10%;
}

.carousel-about {
	background-color: rgb(178, 184, 209);
}

.party-up-logo {
	fill: rgb(247, 243, 255);
	margin-right: 45px;
	width: 160px;
	height: 80px;
}

.about-main {
	background-color: rgb(254, 253, 255);
}

.about-border {
	border:rgb(82, 105, 195);
	border-style: groove;
}

.landing-background {
	background-color: rgb(171, 196, 245);
}

.card-style {
	margin-top: 50px;
}
